In [22]:
import pandas as pd
import json as js
import requests
import numpy as np

In [29]:
r = requests.get("https://www.purpleair.com/data.json")
columns = r.json()["fields"]
data = r.json()["data"]

In [31]:
purpleair_data = pd.DataFrame(data)
purpleair_data.columns = columns

In [32]:
purpleair_data.shape

(12364, 34)

In [33]:
purpleair_data.head()

,ID,pm,age,pm_0,pm_1,pm_2,pm_3,pm_4,pm_5,pm_6,...,Label,Lat,Lon,Icon,isOwner,Flags,Voc,Ozone1,Adc,CH
0,20,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Oakdale,40.603077,-111.836120,0,0,0,NaN,NaN,0.01,1
1,47,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,OZONE TEST,40.476204,-111.882600,0,0,0,NaN,1.31,1.31,0
2,53,21.2,1,21.2,14.8,8.7,5.6,2.5,3.9,8.8,...,Lakeshore,40.246742,-111.704800,0,0,0,NaN,NaN,0.00,1
3,72,30.2,4567,30.2,28.8,30.4,32.1,33.4,34.0,36.1,...,90.9fm KRCL,40.770190,-111.947075,0,0,0,NaN,NaN,0.05,1
4,74,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Wasatch Commons,40.738262,-111.936250,0,0,0,NaN,NaN,0.05,1

In [34]:
data_no_na = purpleair_data.dropna()

In [35]:
data_no_na.shape

(4, 34)